body {
    background-color: deepskyblue;
    margin: 0;
    font-family: Helvetica;
}

.container {
    text-align: center;
    max-width: 450px;
    min-height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 16px;
}

.upload_area_title {
    padding: 8px 0px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.upload_area_title h2 {
    font-weight: 600;
}

.upload_area_title h3 {
    font-weight: 100;
    color: darkslategray;
}

.drop_section {
    height: 250px;
    border: 2px dashed;
    margin: 5px 15px 15px 15px;
    border-radius: 12px;
    border-color: dodgerblue;
    position: relative;
    font-size: 20px;
}

.input_message {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 80px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.or {
    margin: auto;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.input {
    display: none;
    margin: auto;
}

.choose_button {
    color: white;
    background-color: blue;
    padding: 7px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.show_section {
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.tests_running_section, .uploading_section {
    display: inline-flex;
    justify-content: space-between;
}

.tests_running_section {
    margin-bottom: 5px;
}

.uploaded_files_title, .list_title {
    color: darkslategray;
    font-size: 24px;
}

.test_running_button, .upload_button {
    color: white;
    background-image: linear-gradient(90deg, royalblue, skyblue);
    padding: 7px 20px;
    margin-left: 7px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.row, .list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border: groove;
    margin-bottom: 5px;
}

.table .remove, .list .remove {
    color: red;
    text-align: right;
    cursor: pointer;
    margin-right: 15px;
}
